<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="nmCaminhoPlanilha" value="C:\Projetos\TerminalConsulta\planilha\" />
		<add key="usuarioSB" value="satelf" />
		<add key="senhaSB" value="satel500" />
		<add key="usuarioEmbraport" value="victormoreira@sateldespachos.com.br" />
		<add key="senhaEmbraport" value="S@tel2025" />
		<add key="usuarioBTP" value="FABIOSATEL" />
		<add key="senhaBTP" value="Satel@2025" />
		<add key="usuarioVilaConde" value="satelj" />
		<add key="senhaVilaConde" value="satel200" />
		<add key="usuarioItajai" value="387.082.318-69" />
		<add key="senhaItajai" value="Satel1234" />
		<add key="usuarioItapoa" value="d.satelcomi.andreiam" />
		<add key="senhaItapoa" value="satel2021" />
		<add key="emailCliente" value="alerta@sateldespachos.com.br" />
		<add key="emailSistema" value="alerta@sateldespachos.com.br" />
		<add key="senhaCliente" value="Satel@2019" />
		<add key="PortaEntrada" value="25" />
		<add key="PortaSaida" value="25" />
		<add key="ServidorEntradaSaida" value="https://outlook.office365.com/ews/exchange.asmx" />
		<add key="Autenticacao" value="0" />
		<add key="emailDUERecinto" value="eduardo@sateldespachos.com.br;lopes@sateldespachos.com.br;felipe@sateldespachos.com.br;tiagoferreira@sateldespachos.com.br" />
		<add key="EmailNavio" value="fabiosilva@sateldespachos.com.br;fabricioisidro@sateldespachos.com.br" />
		<add key="icConsultarSantosBrasil" value="N" />
		<add key="icConsultarEmbraport" value="N" />
		<add key="icConsultarBTP" value="N" />
		<add key="icConsultarVilaConde" value="S" />
		<add key="icConsultarItajai" value="N" />
		<add key="icConsultarItapoa" value="N" />
		<add key="icConsultarParanagua" value="N" />
		<add key="icEnviarEmailAnalista" value="N" />
		<add key="nrRobo" value="6" />
		<add key="Grupo" value="" />
		<add key="Grupo_Nao" value="" />
		<add key="CookieLoginBTP" value="67a4ca18-6906-4c37-aabe-c563242633a8" />
		<!-- 
    1 - BTP
    6 - SANTOS BRASIL
    2 -Embraport 
    -->
		<add key="QuaisConsultas" value="1;2;3;4;5;6;7;8;9;10;11;12" />
		<add key="TimerInterval" value="20000" />
		<add key="EmailMinervaDivergencia" value="rafael.pedroso@minervafoods.com;cayo.sanford@minervafoods.com;marina.andriolli@minervafoods.com;vinicius.leite@minervafoods.com;" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="x86" />
			<dependentAssembly>
				<assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WSIntegraSatelSoap" />
				<binding name="WebservicesClientes_ExportacaoCheioSoap11Binding" maxReceivedMessageSize="65536000">
					<security mode="Transport" />
				</binding>
				<binding name="WebservicesClientes_ExportacaoCheioSoap11Binding1">
					<security mode="Transport" />
				</binding>
				<binding name="WebservicesClientes_ExportacaoCheioSoap11Binding2" />
			</basicHttpBinding>
			<customBinding>
				<binding name="WebservicesClientes_ExportacaoCheioSoap12Binding">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://200.210.24.135:8084/WSIntegraSatel.asmx" binding="basicHttpBinding" bindingConfiguration="WSIntegraSatelSoap" contract="ServiceRefMinerva.WSIntegraSatelSoap" name="WSIntegraSatelSoap" />
			<endpoint address="https://wsc-prd.tcp.com.br/services/WebservicesClientes_ExportacaoCheio.WebservicesClientes_ExportacaoCheioHttpSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="WebservicesClientes_ExportacaoCheioSoap11Binding" contract="ServiceRefTCP.WebservicesClientes_ExportacaoCheioPortType" name="WebservicesClientes_ExportacaoCheioHttpSoap11Endpoint" />
			<endpoint address="https://wsc-prd.tcp.com.br/services/WebservicesClientes_ExportacaoCheio.WebservicesClientes_ExportacaoCheioHttpsSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="WebservicesClientes_ExportacaoCheioSoap11Binding1" contract="ServiceRefTCP.WebservicesClientes_ExportacaoCheioPortType" name="WebservicesClientes_ExportacaoCheioHttpsSoap11Endpoint" />
			<endpoint address="https://wsc-prd.tcp.com.br/services/WebservicesClientes_ExportacaoCheio.WebservicesClientes_ExportacaoCheioHttpsSoap12Endpoint" binding="customBinding" bindingConfiguration="WebservicesClientes_ExportacaoCheioSoap12Binding" contract="ServiceRefTCP.WebservicesClientes_ExportacaoCheioPortType" name="WebservicesClientes_ExportacaoCheioHttpsSoap12Endpoint" />
			<endpoint address="https://wsc-prd.tcp.com.br/services/WebservicesClientes_ExportacaoCheio.WebservicesClientes_ExportacaoCheioHttpSoap12Endpoint" binding="customBinding" bindingConfiguration="WebservicesClientes_ExportacaoCheioSoap12Binding" contract="ServiceRefTCP.WebservicesClientes_ExportacaoCheioPortType" name="WebservicesClientes_ExportacaoCheioHttpSoap12Endpoint" />
		</client>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<connectionStrings>
		<add name="WEBSATELEntities"
			 connectionString="metadata=res://*/DataBase.ModelTerminal.csdl|res://*/DataBase.ModelTerminal.ssdl|res://*/DataBase.ModelTerminal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.251\MSSQLSERVER,1433;initial catalog=WEBSATEL;persist security info=True;user id=sa;password=Satel@2018;MultipleActiveResultSets=True;application name=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>